

#board {
    background-image: url("./flappybirdbg.png");
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.tooltip{
  color: #000;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #11101d;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #10121a;
  color: #FFF;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}
html, body {
  width: 100%;
  height: 100%;
}

html {
  display: table;
}

body {
  background: #121212;
  background-size: cover;
  display: table-cell;
  vertical-align: middle;
  font-family: "Exo 2", sans-serif;
  background-color: #312e4a;
  color: #d8d8d8;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.85;
}

h1, h3, p {
  margin: 0;
  text-transform: uppercase;
}

h1 {
  font-weight: 400;
  color: #fff;
  margin-bottom: 60px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 5px;
  color: #fff;
}

p {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.wrapper {
  position: relative;
  max-width: 1170px;
  margin: 0 auto;
  padding: 80px 20px;
}

.roll-up {
  overflow: hidden;
  position: relative;
}
.roll-up > span {
  display: inline-block;
  position: relative;
}
.roll-up > span:nth-child(1) {
  transition-delay: 0.03s;
}
.roll-up > span:nth-child(2) {
  transition-delay: 0.06s;
}
.roll-up > span:nth-child(3) {
  transition-delay: 0.09s;
}
.roll-up > span:nth-child(4) {
  transition-delay: 0.12s;
}
.roll-up > span:nth-child(5) {
  transition-delay: 0.15s;
}
.roll-up > span:nth-child(6) {
  transition-delay: 0.18s;
}
.roll-up > span:nth-child(7) {
  transition-delay: 0.21s;
}
.roll-up > span > span {
  display: inline-block;
  transition: 0.6s cubic-bezier(0.7, 0.01, 0.37, 1);
  transition-delay: inherit;
}
.roll-up > span > span:nth-child(1) {
  position: relative;
}
.roll-up > span > span:nth-child(2) {
  position: absolute;
  transform: translateY(100%);
  left: 0;
  color: #16e590;
}

.text-reveal {
  position: relative;
  overflow: hidden;
}
.text-reveal span {
  display: block;
  transition: cubic-bezier(0.7, 0.01, 0.37, 1) 0.6s;
}
.text-reveal > span:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
}
.text-reveal > span:nth-child(2) > span {
  overflow: hidden;
  transform: translateX(-100%);
}
.text-reveal > span:nth-child(2) > span:nth-child(1) {
  transition-delay: 0.1s;
}
.text-reveal > span:nth-child(2) > span:nth-child(2) {
  transition-delay: 0.2s;
}
.text-reveal > span:nth-child(2) > span:nth-child(3) {
  transition-delay: 0.3s;
}
.text-reveal > span:nth-child(2) > span:nth-child(4) {
  transition-delay: 0.4s;
}
.text-reveal > span:nth-child(2) > span:nth-child(5) {
  transition-delay: 0.5s;
}
.text-reveal > span:nth-child(2) > span:nth-child(6) {
  transition-delay: 0.6s;
}
.text-reveal > span:nth-child(2) > span:nth-child(7) {
  transition-delay: 0.7s;
}
.text-reveal > span:nth-child(2) > span > span {
  transform: translateX(100%);
  transition-delay: inherit;
}

.play-button {
  display: inline-block;
  width: 70px;
  height: 70px;
  transition: 0.5s;
}
.play-button svg {
  overflow: visible;
}
.play-button .polygon {
  fill: #16e590;
  transition: transform 0.5s, fill 0.5s;
  transition-timing-function: cubic-bezier(0.7, 0.01, 0.37, 1);
  transform-origin: 50% 50%;
}

.card {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 370px;
  width: 100%;
  height: 200px;
  padding: 20px;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  background-size: cover;
  cursor: pointer;
  margin: 0 100px 60px 0;
  
}
.card:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}
.card .card__content {
  z-index: 1;
}
.card .card__content .card__content--description {
  position: absolute;
  bottom: 20px;
  right: 0;
  margin-right: -80px;
  text-align: left;
  max-width: 175px;
}
.card:hover .play-button {
  transform: scale(1.1);
}
.card:hover .play-button .polygon {
  transform: translateZ(0px) rotate(90deg);
  fill: #67fbbe;
}
.card:hover .roll-up > span > span:nth-child(1) {
  transform: translateY(-100%);
}
.card:hover .roll-up > span > span:nth-child(2) {
  transform: translateY(0);
}
.card:hover .text-reveal > span:nth-child(2) > span,
.card:hover .text-reveal > span:nth-child(2) > span > span {
  transform: translateX(0);
}